In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Question 1
Load the energy data from the file Energy Indicators.xls. It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.

It should be put into a DataFrame with the variable name of "energy"

Make sure to exclude the footer and header information from the datafile.

The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:
['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).

For all countries which have missing data (e.g. data with ...) make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

Republic of Korea: South Korea,
United States of America: United States,
United Kingdom of Great Britain and Northern Ireland: United Kingdom,
China, Hong Kong Special Administrative Region: Hong Kong
There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:

Bolivia (Plurinational State of) should be Bolivia,
Switzerland17 should be Switzerland.
Next, load the GDP data from the file "world_bank.csv". It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"

Make sure to skip the header, and rename the following list of countries:

Korea, Rep.: South Korea,
Iran, Islamic Rep.: Iran,
Hong Kong SAR, China: Hong Kong
Finally, load the "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology". It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"

Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be
['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

In [2]:
energy = pd.read_excel('data\Energy Indicators.xls', skipfooter=38, skiprows=17)
energy

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
...,...,...,...,...,...,...
222,NaN,Viet Nam,Viet Nam,2554,28,45.321520
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.000000
224,NaN,Yemen,Yemen,344,13,0.000000
225,NaN,Zambia,Zambia,400,26,99.714670
226,NaN,Zimbabwe,Zimbabwe,480,32,52.536120

In [3]:


new_energy = energy.drop(energy.columns[[0, 1]], axis=1)

In [4]:
print(new_energy.columns)
new_col = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
new_energy = new_energy.set_axis(new_col,axis=1)

Index(['Unnamed: 2', 'Petajoules', 'Gigajoules', '%'], dtype='object')

In [5]:


new_energy = new_energy.replace('...', np.nan)
new_energy['Energy Supply']=new_energy['Energy Supply'] * 1000000

In [6]:
country_rep =       {
    'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong'       }
new_energy['Country'] = new_energy['Country'].replace(country_rep)
print(new_energy)

                       Country  Energy Supply  Energy Supply per Capita  \
0                  Afghanistan   3.210000e+08                      10.0
1                      Albania   1.020000e+08                      35.0
2                      Algeria   1.959000e+09                      51.0
3               American Samoa            NaN                       NaN
4                      Andorra   9.000000e+06                     121.0
..                         ...            ...                       ...
222                   Viet Nam   2.554000e+09                      28.0
223  Wallis and Futuna Islands   0.000000e+00                      26.0
224                      Yemen   3.440000e+08                      13.0
225                     Zambia   4.000000e+08                      26.0
226                   Zimbabwe   4.800000e+08                      32.0

     % Renewable
0      78.669280
1     100.000000
2       0.551010
3       0.641026
4      88.695650
..           ...
222    45.321520
223     0.000000
224     0.000000
225    99.714670
226    52.536120

[227 rows x 4 columns]

In [7]:
def clean_invalid_signs (country):
    country = country.split('(')[0]  # Відрізає все після (
    country = ''.join(c for c in country if not c.isdigit())  # Видаляє цифри
    return country.strip()  # Видаляє зайві пробіли

new_energy['Country'] = new_energy['Country'].apply(clean_invalid_signs)

```
Так як раніше були рядки по типу :
43	China, Hong Kong Special Administrative Region3	
Ще раз замінимо дату

In [8]:
country_rep =       {
    'Republic of Korea': 'South Korea',
    'United States of America': 'United States',
    'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
    'China, Hong Kong Special Administrative Region': 'Hong Kong'       }
new_energy['Country'] = new_energy['Country'].replace(country_rep)
print(new_energy.head(10))

               Country  Energy Supply  Energy Supply per Capita  % Renewable
0          Afghanistan   3.210000e+08                      10.0    78.669280
1              Albania   1.020000e+08                      35.0   100.000000
2              Algeria   1.959000e+09                      51.0     0.551010
3       American Samoa            NaN                       NaN     0.641026
4              Andorra   9.000000e+06                     121.0    88.695650
5               Angola   6.420000e+08                      27.0    70.909090
6             Anguilla   2.000000e+06                     136.0     0.000000
7  Antigua and Barbuda   8.000000e+06                      84.0     0.000000
8            Argentina   3.378000e+09                      79.0    24.064520
9              Armenia   1.430000e+08                      48.0    28.236060

In [9]:
new_energy.sort_values('Country')

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

### Наступна частина перешого завдання 

*Next, load the GDP data from the file "world_bank.csv". It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"*

In [10]:
GDP = pd.read_csv('data\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_76261.csv', skiprows=4)
GDP

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.962907e+09,2.983635e+09,3.092429e+09,3.276184e+09,3.395799e+09,2.481857e+09,2.929447e+09,3.279344e+09,3.648573e+09,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.421063e+10,2.496398e+10,2.707880e+10,3.177575e+10,3.028579e+10,3.381317e+10,...,8.982778e+11,8.289428e+11,9.729989e+11,1.012306e+12,1.009721e+12,9.333918e+11,1.085745e+12,1.191423e+12,1.245472e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.913422e+10,1.811657e+10,1.875346e+10,1.805322e+10,1.879944e+10,1.995593e+10,1.426000e+10,1.449724e+10,1.723305e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.190495e+10,1.270788e+10,1.363076e+10,1.446909e+10,1.580376e+10,1.692109e+10,...,7.717669e+11,6.943610e+11,6.878492e+11,7.704950e+11,8.264838e+11,7.898017e+11,8.493124e+11,8.839739e+11,7.991060e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.049642e+10,5.276162e+10,7.369015e+10,7.945069e+10,7.089796e+10,4.850156e+10,6.650513e+10,1.043997e+11,8.482465e+10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.295848e+09,6.682677e+09,7.180765e+09,7.878760e+09,7.899738e+09,7.717145e+09,9.413404e+09,9.354903e+09,1.046822e+10,NaN
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.244449e+10,3.131782e+10,2.684223e+10,2.160616e+10,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,8.748597e+09,9.225996e+09,9.813996e+09,1.085420e+10,1.195600e+10,1.306899e+10,...,3.467098e+11,3.235855e+11,3.814488e+11,4.052607e+11,3.893300e+11,3.379747e+11,4.208869e+11,4.069200e+11,3.806993e+11,NaN
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,6.987397e+08,6.823597e+08,6.792797e+08,7.043397e+08,8.226397e+08,1.061200e+09,...,2.125122e+10,2.095841e+10,2.587360e+10,2.631151e+10,2.330867e+10,1.813776e+10,2.209642e+10,2.916378e+10,2.757796e+10,NaN
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.996312e+10,2.054868e+10,5.107466e+10,3.415607e+10,2.571741e+10,2.686794e+10,2.724052e+10,3.278975e+10,3.523137e+10,NaN

In [11]:
country_col = GDP['Country Name']
country_col

0                            Aruba
1      Africa Eastern and Southern
2                      Afghanistan
3       Africa Western and Central
4                           Angola
                  ...
261                         Kosovo
262                    Yemen, Rep.
263                   South Africa
264                         Zambia
265                       Zimbabwe
Name: Country Name, Length: 266, dtype: object

In [12]:
start_col = GDP.columns.get_loc('2006')
end_col = GDP.columns.get_loc('2015')

# Вибираємо колонки від 2006 до 2015
GDP_select_column = GDP.iloc[:, list(range(start_col, end_col + 1))]

# Виводимо перші рядки для перевірки

GDP_select_column

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,2.469783e+09,2.677641e+09,2.843025e+09,2.553793e+09,2.453597e+09,2.637859e+09,2.615208e+09,2.727850e+09,2.790850e+09,2.962907e+09
1,5.802408e+11,6.655987e+11,7.135021e+11,7.154853e+11,8.494097e+11,9.454391e+11,9.529986e+11,9.623949e+11,9.787083e+11,8.982778e+11
2,6.971758e+09,9.747886e+09,1.010930e+10,1.241615e+10,1.585667e+10,1.780510e+10,1.990733e+10,2.014642e+10,2.049713e+10,1.913422e+10
3,3.981397e+11,4.668837e+11,5.693217e+11,5.099177e+11,6.001527e+11,6.838881e+11,7.399381e+11,8.369374e+11,8.974157e+11,7.717669e+11
4,5.238103e+10,6.526642e+10,8.853867e+10,7.030720e+10,8.379947e+10,1.117897e+11,1.280529e+11,1.323391e+11,1.359668e+11,9.049642e+10
...,...,...,...,...,...,...,...,...,...,...
261,NaN,NaN,5.181777e+09,5.015895e+09,5.343951e+09,6.341614e+09,6.163484e+09,6.735329e+09,7.074395e+09,6.295848e+09
262,1.906314e+10,2.165053e+10,2.691086e+10,2.513028e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041523e+10,4.322859e+10,4.244449e+10
263,3.038587e+11,3.330771e+11,3.161313e+11,3.297541e+11,4.173638e+11,4.581995e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11
264,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,5.443896e+09,5.291950e+09,4.415703e+09,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

In [13]:
GDP = pd.concat([country_col, GDP_select_column], axis=1)
countryGDP_rep = {
    'Korea, Rep.': 'South Korea',
    'Iran, Islamic Rep.': 'Iran',
    'Hong Kong SAR, China': 'Hong Kong'        }
new_energy['Country'] = new_energy['Country'].replace(country_rep)

GDP = GDP.rename(columns={'Country Name': 'Country'})

In [14]:
GDP

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,2.469783e+09,2.677641e+09,2.843025e+09,2.553793e+09,2.453597e+09,2.637859e+09,2.615208e+09,2.727850e+09,2.790850e+09,2.962907e+09
1,Africa Eastern and Southern,5.802408e+11,6.655987e+11,7.135021e+11,7.154853e+11,8.494097e+11,9.454391e+11,9.529986e+11,9.623949e+11,9.787083e+11,8.982778e+11
2,Afghanistan,6.971758e+09,9.747886e+09,1.010930e+10,1.241615e+10,1.585667e+10,1.780510e+10,1.990733e+10,2.014642e+10,2.049713e+10,1.913422e+10
3,Africa Western and Central,3.981397e+11,4.668837e+11,5.693217e+11,5.099177e+11,6.001527e+11,6.838881e+11,7.399381e+11,8.369374e+11,8.974157e+11,7.717669e+11
4,Angola,5.238103e+10,6.526642e+10,8.853867e+10,7.030720e+10,8.379947e+10,1.117897e+11,1.280529e+11,1.323391e+11,1.359668e+11,9.049642e+10
...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,5.181777e+09,5.015895e+09,5.343951e+09,6.341614e+09,6.163484e+09,6.735329e+09,7.074395e+09,6.295848e+09
262,"Yemen, Rep.",1.906314e+10,2.165053e+10,2.691086e+10,2.513028e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041523e+10,4.322859e+10,4.244449e+10
263,South Africa,3.038587e+11,3.330771e+11,3.161313e+11,3.297541e+11,4.173638e+11,4.581995e+11,4.344005e+11,4.008860e+11,3.811989e+11,3.467098e+11
264,Zambia,1.275686e+10,1.405696e+10,1.791086e+10,1.532834e+10,2.026556e+10,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10
265,Zimbabwe,5.443896e+09,5.291950e+09,4.415703e+09,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10

In [15]:
ScimEn = pd.read_excel('data\scimagojr country rank 1996-2023.xlsx')

In [16]:

ScimEn = ScimEn.head(19)

ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,402188,400158,5077232,3511673,12.62,343
1,2,United States,Northern America,208042,203356,3540288,1004877,17.02,458
2,3,India,Asiatic Region,81853,79757,968523,369256,11.83,237
3,4,Japan,Asiatic Region,58342,57735,717946,154848,12.31,228
4,5,United Kingdom,Western Europe,56288,54713,1095371,179764,19.46,293
5,6,Germany,Western Europe,50906,49773,777362,160302,15.27,252
6,7,Russian Federation,Eastern Europe,46186,45868,217996,96688,4.72,112
7,8,Canada,Northern America,41209,40390,915491,142691,22.22,284
8,9,Italy,Western Europe,38700,36909,639473,147302,16.52,209
9,10,South Korea,Asiatic Region,38362,38046,618762,105419,16.13,198
10,11,Iran,Middle East,32080,31725,634135,177894,19.77,198
11,12,France,Western Europe,30810,30139,547122,89958,17.76,221
12,13,Spain,Western Europe,29840,29156,614087,104845,20.58,216
13,14,Australia,Pacific Region,27993,27254,608021,84747,21.72,234
14,15,Brazil,Latin America,27316,26888,307607,71778,11.26,154
15,16,Turkey,Middle East,18125,17719,395518,74872,21.82,194
16,17,Poland,Eastern Europe,17855,17530,206917,55577,11.59,121
17,18,Taiwan,Asiatic Region,17444,17241,321844,39539,18.45,175
18,19,Saudi Arabia,Middle East,17120,16865,271579,50546,15.86,161

In [17]:
merged_energy_scimen = pd.merge(ScimEn, new_energy, how='inner', on='Country')
merged_energy_scimen

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,Asiatic Region,402188,400158,5077232,3511673,12.62,343,1.271910e+11,93.0,19.754910
1,2,United States,Northern America,208042,203356,3540288,1004877,17.02,458,9.083800e+10,286.0,11.570980
2,3,India,Asiatic Region,81853,79757,968523,369256,11.83,237,3.319500e+10,26.0,14.969080
3,4,Japan,Asiatic Region,58342,57735,717946,154848,12.31,228,1.898400e+10,149.0,10.232820
4,5,United Kingdom,Western Europe,56288,54713,1095371,179764,19.46,293,7.920000e+09,124.0,10.600470
5,6,Germany,Western Europe,50906,49773,777362,160302,15.27,252,1.326100e+10,165.0,17.901530
6,7,Russian Federation,Eastern Europe,46186,45868,217996,96688,4.72,112,3.070900e+10,214.0,17.288680
7,8,Canada,Northern America,41209,40390,915491,142691,22.22,284,1.043100e+10,296.0,61.945430
8,9,Italy,Western Europe,38700,36909,639473,147302,16.52,209,6.530000e+09,109.0,33.667230
9,10,South Korea,Asiatic Region,38362,38046,618762,105419,16.13,198,1.100700e+10,221.0,2.279353
10,11,Iran,Middle East,32080,31725,634135,177894,19.77,198,9.172000e+09,119.0,5.707721
11,12,France,Western Europe,30810,30139,547122,89958,17.76,221,1.059700e+10,166.0,17.020280
12,13,Spain,Western Europe,29840,29156,614087,104845,20.58,216,4.923000e+09,106.0,37.968590
13,14,Australia,Pacific Region,27993,27254,608021,84747,21.72,234,5.386000e+09,231.0,11.810810
14,15,Brazil,Latin America,27316,26888,307607,71778,11.26,154,1.214900e+10,59.0,69.648030
15,16,Turkey,Middle East,18125,17719,395518,74872,21.82,194,4.897000e+09,64.0,28.536690
16,17,Poland,Eastern Europe,17855,17530,206917,55577,11.59,121,4.121000e+09,107.0,5.537899
17,19,Saudi Arabia,Middle East,17120,16865,271579,50546,15.86,161,7.985000e+09,264.0,0.000352

In [18]:
df_last_version = pd.merge(merged_energy_scimen, GDP, how='inner', on='Country')
df_last_version

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,China,Asiatic Region,402188,400158,5077232,3511673,12.62,343,1.271910e+11,...,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
1,2,United States,Northern America,208042,203356,3540288,1004877,17.02,458,9.083800e+10,...,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
2,3,India,Asiatic Region,81853,79757,968523,369256,11.83,237,3.319500e+10,...,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
3,4,Japan,Asiatic Region,58342,57735,717946,154848,12.31,228,1.898400e+10,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
4,5,United Kingdom,Western Europe,56288,54713,1095371,179764,19.46,293,7.920000e+09,...,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
5,6,Germany,Western Europe,50906,49773,777362,160302,15.27,252,1.326100e+10,...,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
6,7,Russian Federation,Eastern Europe,46186,45868,217996,96688,4.72,112,3.070900e+10,...,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
7,8,Canada,Northern America,41209,40390,915491,142691,22.22,284,1.043100e+10,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
8,9,Italy,Western Europe,38700,36909,639473,147302,16.52,209,6.530000e+09,...,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
9,12,France,Western Europe,30810,30139,547122,89958,17.76,221,1.059700e+10,...,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
10,13,Spain,Western Europe,29840,29156,614087,104845,20.58,216,4.923000e+09,...,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
11,14,Australia,Pacific Region,27993,27254,608021,84747,21.72,234,5.386000e+09,...,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
12,15,Brazil,Latin America,27316,26888,307607,71778,11.26,154,1.214900e+10,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12
13,17,Poland,Eastern Europe,17855,17530,206917,55577,11.59,121,4.121000e+09,...,3.458976e+11,4.297151e+11,5.356120e+11,4.408915e+11,4.781116e+11,5.278485e+11,4.981486e+11,5.181798e+11,5.421342e+11,4.800541e+11
14,19,Saudi Arabia,Middle East,17120,16865,271579,50546,15.86,161,7.985000e+09,...,3.769001e+11,4.159645e+11,5.197968e+11,4.290979e+11,5.282072e+11,6.766347e+11,7.418499e+11,7.538645e+11,7.666059e+11,6.694843e+11

In [ ]:

Top15 = df_last_version.reset_index()
columns_order = ['Country'] + [col for col in Top15.columns if col != 'Country']  # Визначаємо новий порядок стовпців (першим - "Country")

Top15 = Top15[columns_order]

Top15 = Top15.set_index('Country')

In [ ]:
Top15 = Top15.drop(['index','Region' ], axis=1)

In [ ]:
def answer_one():
    print("Shape of the DataFrame:", Top15.shape)
     # print(df)          Я закоментував, щоб меньше місця займав вивід і загалом, щоб не відволікало
    return Top15

answer_one()

Shape of the DataFrame: (15, 20)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,402188,400158,5077232,3511673,12.62,343,1.271910e+11,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551546e+12,8.532185e+12,9.570471e+12,1.047562e+13,1.106157e+13
United States,2,208042,203356,3540288,1004877,17.02,458,9.083800e+10,286.0,11.570980,1.381558e+13,1.447423e+13,1.476986e+13,1.447807e+13,1.504897e+13,1.559973e+13,1.625397e+13,1.688068e+13,1.760814e+13,1.829502e+13
India,3,81853,79757,968523,369256,11.83,237,3.319500e+10,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856722e+12,2.039126e+12,2.103588e+12
Japan,4,58342,57735,717946,154848,12.31,228,1.898400e+10,149.0,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,56288,54713,1095371,179764,19.46,293,7.920000e+09,124.0,10.600470,2.708442e+12,3.090510e+12,2.929412e+12,2.412840e+12,2.485483e+12,2.663806e+12,2.707090e+12,2.784854e+12,3.064708e+12,2.927911e+12
Germany,6,50906,49773,777362,160302,15.27,252,1.326100e+10,165.0,17.901530,3.046309e+12,3.484057e+12,3.808786e+12,3.479801e+12,3.468154e+12,3.824829e+12,3.597897e+12,3.808086e+12,3.965801e+12,3.423568e+12
Russian Federation,7,46186,45868,217996,96688,4.72,112,3.070900e+10,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,41209,40390,915491,142691,22.22,284,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,38700,36909,639473,147302,16.52,209,6.530000e+09,109.0,33.667230,1.958564e+12,2.222524e+12,2.417508e+12,2.209484e+12,2.144936e+12,2.306974e+12,2.097929e+12,2.153226e+12,2.173256e+12,1.845428e+12
France,12,30810,30139,547122,89958,17.76,221,1.059700e+10,166.0,17.020280,2.317862e+12,2.655817e+12,2.926803e+12,2.700076e+12,2.646230e+12,2.870409e+12,2.683007e+12,2.816078e+12,2.861236e+12,2.442483e+12
Spain,13,29840,29156,614087,104845,20.58,216,4.923000e+09,106.0,37.968590,1.261847e+12,1.476746e+12,1.636115e+12,1.496588e+12,1.427989e+12,1.487569e+12,1.330995e+12,1.362187e+12,1.380245e+12,1.206165e+12
Australia,14,27993,27254,608021,84747,21.72,234,5.386000e+09,231.0,11.810810,7.484176e+11,8.550075e+11,1.056112e+12,9.287621e+11,1.148838e+12,1.398611e+12,1.547532e+12,1.577123e+12,1.468265e+12,1.351296e+12
Brazil,15,27316,26888,307607,71778,11.26,154,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616156e+12,2.465228e+12,2.472820e+12,2.456044e+12,1.802212e+12
Poland,17,17855,17530,206917,55577,11.59,121,4.121000e+09,107.0,5.537899,3.458976e+11,4.297151e+11,5.356120e+11,4.408915e+11,4.781116e+11,5.278485e+11,4.981486e+11,5.181798e+11,5.421342e+11,4.800541e+11
Saudi Arabia,19,17120,16865,271579,50546,15.86,161,7.985000e+09,264.0,0.000352,3.769001e+11,4.159645e+11,5.197968e+11,4.290979e+11,5.282072e+11,6.766347e+11,7.418499e+11,7.538645e+11,7.666059e+11,6.694843e+11

# *Question 2*
# *What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)*

This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.

In [ ]:
Top15.isna().value_counts()

Rank   Documents  Citable documents  Citations  Self-citations  Citations per document  H index  Energy Supply  Energy Supply per Capita  % Renewable  2006   2007   2008   2009   2010   2011   2012   2013   2014   2015
False  False      False              False      False           False                   False    False          False                     False        False  False  False  False  False  False  False  False  False  False    15
Name: count, dtype: int64

In [23]:
def answer_two():
    Top15 = answer_one()
    avgGDP1 = Top15.loc[:, '2006':'2015'].mean(axis=1)  #Середнє 2006 - 2015
    avgGDP1 = avgGDP1.sort_values(ascending=False)       #По спаданню 

    return avgGDP1

answer_two()

Shape of the DataFrame: (15, 20)

Country
United States         1.572243e+13
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.590729e+12
United Kingdom        2.777505e+12
France                2.692000e+12
Italy                 2.152983e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.406644e+12
Australia             1.207997e+12
Saudi Arabia          5.878406e+11
Poland                4.796593e+11
dtype: float64

# *Question 3*
 ## *By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?*

This function should return a single number.

In [ ]:
# avg = answer_two()
# avg.index[5]

def answer_three():
    
    Top15 = answer_one()
    avg_df = answer_two()
    sixth = avg_df.index[5]       # Беремо до 6 рядка
 
    gdp_2006 = Top15.loc[sixth, '2006']    
    gdp_2015 = Top15.loc[sixth, '2015']
    return gdp_2015 - gdp_2006

answer_three()

Shape of the DataFrame: (15, 20)
Shape of the DataFrame: (15, 20)

np.float64(124621907951.68018)

# Question 4
## *Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?*

This function should return a tuple with the name of the country and the ratio.

In [25]:
def answer_four():
    Top15 = answer_one()
    Top15['Ratio_Cit'] = Top15['Self-citations'] / Top15['Citations']

    max_value = Top15['Ratio_Cit'].max()
    conrty_with_highest_r = Top15['Ratio_Cit'].idxmax()
    return max_value, conrty_with_highest_r

In [40]:
print(answer_four)
print(type(answer_four))

(np.float64(0.6916510807463594), 'China')
<class 'tuple'>

# Question 5
## *Create a column that estimates the population using Energy Supply and Energy Supply per capita. What is the third most populous country according to this estimate?*

This function should return a single string value.

In [ ]:
def answer_five():
    Top15 = answer_one()
    Top15['the_population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    sort_by_population = Top15['the_population'].sort_values(ascending=False)
    the_third_most_populous = sort_by_population.index[2]
    return the_third_most_populous

print(answer_five())
type(answer_five())

Shape of the DataFrame: (15, 22)
United States
Shape of the DataFrame: (15, 22)

str

# Question 6
 ## *Create a column that estimates the number of citable documents per person. What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the .corr() method, (Pearson's correlation).*

This function should return a single number.

In [67]:
def answer_six():
    Top15 = answer_one()
    Top15['number_of_doc'] = Top15['Citable documents'] / Top15['the_population']
    corr = Top15['number_of_doc'].corr(Top15['Energy Supply per Capita'])
    return corr

answer_six()

Shape of the DataFrame: (15, 22)

np.float64(0.645496806028703)

# Question 7
*Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.*

This function should return a DataFrame with index named Continent ['Asia', 'Australia', 'Europe', 'North America', 'South America'] and columns ['size', 'sum', 'mean', 'std']

In [ ]:
def answer_seven():
    Top15 = answer_one()

    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    
    Top15['Continent'] = Top15.index.map(ContinentDict)        # метод .map уявно перекладає відвовідні країни у відповідні континенти і використовує як індекс
    for_df_stats = Top15.groupby('Continent')['the_population'].agg(['size', 'sum', 'mean', 'std']) #Групуємо та методом .agg обчислюємо статистики
    ordered_continents = ['Asia', 'Australia', 'Europe', 'North America', 'South America'] #так легше
    for_df_stats = for_df_stats.reindex(ordered_continents)
    return for_df_stats

# в колонці std є NaN, бо в деяких континентах не вистарчає значень

In [75]:
answer_seven()

Shape of the DataFrame: (15, 24)

               size           sum          mean           std
Continent
Asia              3  2.771785e+09  9.239284e+08  6.913019e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN